@model CommentViewModel
@{
}
<div class="post-footer__comment__form" style="margin-left:20px;">
    <form method="post" asp-controller="home" asp-action="comment">
        <input asp-for="PostId" type="hidden" />
        <input asp-for="MainCommentId" type="hidden" />
        <input asp-for="Message" placeholder="Messages" style="width:500px;">
        <div class="mb-5">
            <button type="submit" class="btn-danger">Add Comment</button>
        </div>
    </form>

</div>