@model CommentViewModel
@{
}

<button type="button" class="btn-primary mb-5" data-toggle="modal" data-target="#exampleModal" >Yanıtlayın</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="home" asp-action="comment">
                    <input asp-for="PostId" type="hidden" />
                    <input asp-for="MainCommentId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label"></label>
                        <input asp-for="Name" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" for="message-text" class="col-form-label"></label>
                        <textarea asp-for="Message" class="form-control" id="message-text"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>
         
        </div>
    </div>
</div>