@model PostViewModel
@{
    
}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.css" rel="stylesheet" />
<div>
    <form method="post" asp-action="Edit" asp-controller="Panel" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label asp-for="Title"></label>
            <input id="title" asp-for="Title" />
        </div>
        <div>
            <label asp-for="Tags"></label>
            <input asp-for="Tags" />
        </div>
        <div>
            <label asp-for="Description"></label>
            <input asp-for="Description" />
        </div>
        <div>
            <label asp-for="Body"></label>
            <textarea id="editor" asp-for="Body"></textarea>
        </div>
        <div>
            <select asp-for="CategoryId">
                <option disabled selected value="">Select Category</option>
                <option value="1">Programming</option>
                <option value="2">Technology</option>
            </select>
        </div>
        <div>
            <label asp-for="Image"></label>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="Image" />
        </div>
        <div class="alert-danger d-inline-block" role="alert">
            @Html.ValidationMessageFor(a => a.Image)
        </div>
        <div>
            <input value="Submit" type="submit" />
        </div>

    </form>
</div>

@section scripts{
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg();
    </script>
}